*{
    box-sizing: border-box;
    margin: 0;
}

section{
    display: flex;
}
.left{
    background: purple;
    height: 100vh;
    width: 60vw;
    display: flex;
    justify-content: center; 
    margin-top: -20px;
    margin-left: -20px;  
}
.right{
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.left img{
    width: 300px;
    height: 300px;
    margin-top: 20%;
}
.left img:hover{
    width: 400px;
    height: 400px;
    margin-top: 20%;
}
form{

}
form input{
    width: 150px;
    border-radius: 10px;
    border: 1px solid purple;
    margin: 10px 0;
    padding: 10px;
}
.top h3{
    color: purple;
}
button{
    background: purple;
    color: #fff;
    border: none;
    outline: mone;
    width: 150px;
    height: 30px;
    border-radius: 10px;
}
button:hover{
    background: #C27BC1;
}

